doctype html

main
  h1 {{ title }}

  img(src="../../images/color-palette.png")   

  ul
    li(*ngFor="let message of Messaging.messageList")
      | {{message.content}}

  .formContainer
    app-single-form(*ngFor="let message of Messaging.messageList" '[content]'="message.content" '(update)'="onUpdate(message.id, $event.content)") 

  .messageContainer
    p.
      {{ jsonService }}
