doctype html

main
  h1 {{ title }}

  img(src="../../images/color-palette.png")   

  .formContainer
    app-single-form

  .messageContainer
    p. 
      {{ Messaging.message }}
    p.
      {{ jsonService }}