doctype html

.formPanel

  h3 Single Form

  //- input(#myInput type="text") Or (Both styles of syntax work)
  input(ref-myInput type="text")
  
  input(type="button", (click)="onClick(myInput.value)" value="Push Me").roundButton
